@import 'reset';

$Moderatecyan: hsl(176, 50%, 47%);
$Darkcyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$Lightgray: #f3f4f4;
$Darkgray: hsl(0, 0%, 48%);
$background: #fafafa;

header{
    background-image: url(./images/image-hero-desktop.jpg);
    height:400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Commissioner', sans-serif;
}

.header-container{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contaier__nav{
    display: flex;
}

.nav__item{
    margin: 0px 20px;
    color: white;
}

.main-container{
    width:  100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    background-color:$background;
}

.project-title{
    width: 50%;
    display:flex;
    border-radius: 20px;
    background-color:white;
    flex-direction: column;
    align-items: center;
    height: 260px;
    padding: 30px 50px;
    margin-top: -100px;
    margin-bottom: 25px;
}

.project-title__title{
    font-weight: 700;
    margin: 40px 0px;
    font-size: 28px;
}

.project-title__description{
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 18px;
    color: $Darkgray;
}

.project-title__logo{
    width: 60px;
    height: auto;
    margin-top: -60px
}

.project-title__btns{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.btns__back-btn{
    width: 210px;
    height: 60px;
    border-radius: 30px;
    background-color: $Moderatecyan;
    color:white;    
    border: none;
    font-weight: 500;
    font-size: 18px;
}
.btns__bookmark-btn{
    display: flex;
    align-items: center;
    background-color: $Lightgray;
    border-radius: 30px;
    width: 180px;
    height: 56px;
    border: none;
    font-size:18px;
    color: $Darkgray;    
    position: relative;
}
.btns__bookmark-btn img{
    position: absolute;
    left: 0;
}
.btns__bookmark-btn p{
    margin-left: 60px;
    font-weight: 600;
}

.project-data{
    width: 50%;
    display:flex;
    border-radius: 20px;
    background-color:white; 
    flex-direction: column;   
    align-items: center;
    height: auto;
    padding: 30px 50px;
    margin-bottom: 25px;
}

.project-data-figure{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}

.project-data-figure__item{
    width: 80%;
    padding: 0px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;   
    justify-content: space-around; 
}
.project-data-figure__number{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.project-data-figure__text{
    font-size: 14px;
    color: $Darkgray;
}

.project-data-figure__item--mid{
    width: 80%;
    flex: 1;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;   
    justify-content: space-around; 
    border-left: $Darkgray 1px solid;
    border-right: $Darkgray 1px solid;
}

.project-about{
    width: 50%;
    display:flex;
    border-radius: 20px;
    background-color:white;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    margin-bottom: 25px;
}

.project-data__progress-bar{
    width:98%;
    height: 14px;
    margin-top: 40px;
    border-radius: 7px;
    background-color: $Lightgray;
    position: relative;
}
.project-data__progress-bar--completed{
    width:87%;
    height: 14px;
    border-radius: 7px;
    background-color: $Moderatecyan;
    position: absolute;
    left:0;
}